body {
    margin: 0 auto;
    background-color:black;
    font-family:Arial, Helvetica, sans-serif ;
    max-width: 1200px;
    padding: 15px;
 }
#TopMenu  {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}
#TopMenu li  {
    color: white;
    text-decoration: none;
    display: block;
    padding: 16px;
}
#contato {
    border: 2px solid #0e76a8;
    padding: 10px;
    border-radius: 15px;
}
#contato:hover {
    background-color: #0e76a8;
    color: white;

}
a {
    color: white;
    text-decoration: none;
}
header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    margin-top: 40px;
}

.center {
    text-align: center;
    color: white;
}
h1 {
    text-align: center;
    margin-bottom: 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
}
h2 {
    text-align: center;
    margin-top: 0px;
    color: white;
}
main {
    margin: 40px;
    color: white;
}
footer img {
    width: 40px;
    height: 40px;
}
footer{
    display: flex;
    justify-content: center;
}
footer a{
    margin: 20px;
    text-align: center;
}
footer p{
    margin-top: 2px;
}
nav a:hover {
    color:#0e76a8;
    transition: 0.3s all;
}