body {
    font-family: arial, heveltica, sans-serif;
    color: white;
    background-color: rgb(13, 33, 52); 
    padding: 150px 0 0 130px;
    align-items: center;
    justify-content: center
 }
 h1 {
    font-family: Snell Roundhand, cursive ;
    font-size: 30px;
     font-weight: 400;
     align-content: center
     
 }
 h2 {
    font-size: 14px;
    font-weight: 100;
    font-style: italic
 }